.modal-container {
  max-width: 700px;
  padding: 25px;
  max-height: 450px;
}
.bold {
  font-weight: bold;
  color: #5D6D7E;
}
.book-title {
  color: #1A5276;
  margin: 0;
}
.book-subtitle {
  color: #7FB3D5;
  font-size: 15px;
}
.modal-content {
  margin-top: 25px;
  display: flex;
  max-height: 315px;
}
.book-details {
  margin-right: 25px;
}
.field {
  margin-bottom: 15px;
}
.book-authors {
  ul {
    list-style: none;
  }
}
.book-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-description {
  max-height: 200px;
  overflow: auto;
}
